# Base URL for the Social Hours Platform API (import openapi.yml from the backend project)
# Base URL for the Social Hours Platform API (import openapi.yml from the backend project)
VITE_API_BASE_URL=https://hoorasback.netlify.app/
